
<table class="container">
	<thead>
		<th>
			<td>Films</td>
			<td>Réalisé par</td>
			<td>Date de sortie</td>
			<td>image</td>
		</th>
	</thead>
	<tbody>
		<% for item in (0..19) do %>
		<tr>
			<td> <%= SearchMovie.new.perform(@title, item) %> 
</td>
			<td></td>
			<td></td>
			<td></td>
		</tr> <% end %>

	</tbody>
</table>
 

