
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Films</th>
			<th scope="col">Réalisé par</th>
			<th scope="col">Date de sortie</th>
			<th scope="col">image</th>
		</tr>
	</thead>
	<tbody>
		<% if @search.fetch != nil %>
		<% @search.fetch.each do |result| %>
		<tr>
			<td> <%= result['title'] %> </td>
			<td><%= result['crew'] %></td>
			<td><%= result['release_date'] %></td>
			<td><%= 'img' %></td>
		</tr> 
		<% end %>
<% end %>
	</tbody>
</table>
 

