<header class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Laetitia's app", root_path, id: "logo" %>
      <nav>
          <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <%= form_tag(root_path method: :get) do %>
		  Movie <%= text_field_tag :movie, params[:movie] %>
		  <%= submit_tag 'Search', name: nil %>
		<% end %>

      </nav>
    </div>   <!-- fin container -->
</header>