<header class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-dark">
    <div class="container" style="color: white">
      <%= link_to "Lyon's app", root_path %>
      <nav>
          
        <%= form_tag(root_path, method: :get) do %>
		      Movie <%= text_field_tag :movie, params[:movie] %>
		      <%= submit_tag 'Search', name: nil %>
		    <% end %>

      </nav>
    </div>   <!-- fin container -->
</header>